.venv
venv
__pycache__
.pyc
*.pyc
__pycache__/
/bot/images
*.pyo
*.git/
bot_database.db
readme.md
.gitignore
.env.example
.env.dev
.env
1.env
dev.env
commands.txt
teste.py
offline-uuid.py
placeholder.txt
1.txt
*.pyd
venv/
tools/
