services:
  discord-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bot-desenvolvimento
    env_file:
      - .env
    tty: true
    stdin_open: true
    volumes:
      - /data/logs/latest.log:/logs/latest.log:ro # Onde o latest.log do seu servidor se encontra
      - /data/world/stats:/world/stats:ro # Onde a pasta stats do seu servidor se encontra
      - ./players.json:/app/bot/core/utils/json/players.json:ro # Only map it if SERVER_MODE=1
    networks:
      - request

networks:
  request:
    external: true