aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
anyio==4.7.0
asyncio-dgram==2.2.0
attrs==24.3.0
beautifulsoup4==4.12.3
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
deep-translator==1.11.4
discord==2.3.2
discord.py==2.4.0
dnspython==2.7.0
mcrcon==0.7.0
mcstatus==11.1.1
multidict==6.1.0
propcache==0.2.1
python-dotenv==1.0.1
pytz==2024.2
rcon==2.4.9
requests==2.32.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
yarl==1.18.3
